body {
  position: relative;
  color: white;
  background-color: #1a1919;
}

:root {
  --aqua: #00ffff;
}



.h90 {
  height: 90vh;
}

.w50{
  width: 50%;
}

h1 {
  margin: 0 0 20px;
  color: var(--aqua);
}

section {
  padding-top: 5em;
}

.bg-img-p {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.35)), url(../assets/images/portada.jpg) center center;
  background-size: cover;
  color: white;
}

.title {
  font-size: 4em;
}

.name {
  font-size: 1.6em;
}

.color2 {
  color: var(--aqua);
  font-family: 'Grand Hotel', cursive;
  font-size: 1.5em;
}

.transparent {
  background-color: transparent;
}

.white {
  color: white !important;
}

.upper {
  text-transform: uppercase;
}

.space {
  letter-spacing: 4px;
}

.nav-pills .nav-link.active {
  background-color: transparent;
  border-bottom: 2px solid var(--aqua);
  border-radius: 0;
}

.index {
  z-index: 2;
}

.aboslute {
  position: absolute;
}

#particles-js {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
}

.aqua {
  color: var(--aqua);
}

.w80 {
  width: 80%;
}

.font-s3 {
  font-size: 5em;
}

.font-s4 {
  font-size: 2em;
}

.btn-visit {
  border-bottom: 1px solid var(--aqua);
  border-radius: 10px;
  transition: 1s;
}

.btn-visit:hover{
  background-color: var(--aqua);
  color: black !important;
  text-decoration: none;
  font-weight: 700;
}

.btn-sub{
  background-color: transparent;
  border: none;
  
}

.bar {
  background-color: var(--aqua);
  color: black;
}

.prog {
  height: 2rem;
  background-color: grey;
}

.w100 {
  width: 100%;
}

.box-skills {
  color: var(--aqua);
  border: 1px solid var(--aqua);
  border-radius: 10px;
  padding: 8px 3px;
  margin: 0 5px;
  font-size: 11px;
  transition: 1s;
}

.p10{
  padding: 10px 0px;
}

.box-skills:hover{
  background-color: var(--aqua);
  color: black;
  font-weight: 800;
}

.capitalLetter
{
   float:left;
   color:var(--aqua);
   
   font-family: 'Grand Hotel', cursive;
   font-size:80px;
   line-height:68px;
   padding:2px;
   
   margin-right: 5px;
}


/**HExagonos**/

.clearfix:after {
	content: '';
	width: 0;
	height: 0;
	visibility: hidden;
	display: block;
	clear: both;
}

/*
* Content & Hexagon 
* */
.content {
	margin: 3em auto;
	width: 300px;
	padding-bottom: 30px;
}

.hexagon {
	margin-top: 30px;
	height: 50px;
	width: 90px;
	background: #FFF;
	position: relative;
	float: left;
	margin-right: 5px;
  cursor: pointer;
  transition: 1s;
}

.hexagon:before {
	position: absolute;
	bottom: 100%;
	content: '';
	height: 0;
	width: 0;
	border-width: 0 45px 30px 45px;
	border-style: solid;
  border-color: #FFF transparent;
  transition: 1s;
}

.hexagon:after {
	position: absolute;
	top: 100%;
	content: '';
	height: 0;
	width: 0;
	border-width: 30px 45px 0 45px;
	border-style: solid;
  border-color: #FFF transparent;
  transition: 1s;
}

.top, .bottom {
	float: left;
	clear: left;
}

.top {
	margin-left: 48px;
	margin-top: 3px;
}

.bottom {
	margin-top: 3px;
}


/* 
* Social Icons
* */
.hexagon[class*="icon-"]{
	background-color: #FFF;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.icon-twitter {
  background-image: url('../assets/images/logo.png');
}

.icon-dribble {
  background-image: url('../assets/images/gmail.png');
}
.icon-youtube {
  background-image: url('../assets/images/git.png');
}
.icon-plixi {
  background-image: url('../assets/images/codigo.png');
}
.icon-tumblr {
  background-image: url('../assets/images/twitter.png');
}
.icon-html {
  background-image: url('../assets/images/html5.png');
}
.icon-css {
  background-image: url('../assets/images/css.png');
}
.icon-js {
  background-image: url('../assets/images/java.png');
}
.icon-jquery {
  background-image: url('../assets/images/mater.png');

}
.icon-firebase {
  background-image: url('../assets/images/boot.png');
  
}

/*
* Hover
* */
.hexagon:hover{
	background-color: var(--aqua);
}

.hexagon:hover:before, .hexagon:hover:after {
	border-color: var(--aqua) transparent;
} 

.bt-color{
  border-top: 2px solid grey;
}


.bg-black{
  background-color: black;
}

.h10{
  height: 10vh;
}


@media only screen and (min-width: 540px) {
  .name {
    font-size: 2em;
  }
  .title {
    font-size: 5em;
  }
  .transparent {
    background-color: transparent !important;
  }

   .h100{
    height: 100vh;
  } 

  .h90{
    height: 90vh;
  }

  .w100{
    width: 60%;
  }
}