body {
  position: relative;
  color: white;
  background-color: rgb(26, 25, 25);
}

:root {
  --aqua: aqua;
 
}

.h100 {
  height: 100vh;
}

.h90 {
  height: 90vh;
}

h1 {
  margin: 0;
  color: var(--aqua);
}

section {
  padding-top: 3em;
}



.bg-img-p {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.35)), url(../assets/images/portada.jpg) center center;
  background-size: cover;
  color: white;
}

.title {
  font-size: 4em;
}

.name {
  font-size: 1.6em;
}

.color2 {
  color: var(--aqua);
  font-family: 'Grand Hotel', cursive;
  font-size: 1.5em;
}

.transparent {
  background-color: transparent;
}

.white {
  color: white !important;
}

.upper {
  text-transform: uppercase;
}

.space {
  letter-spacing: 4px;
}

.nav-pills .nav-link.active {
  background-color: transparent;
  border-bottom: 2px solid var(--aqua);
  border-radius: 0;
}

.index {
  z-index: 2;
}

.aboslute {
  position: absolute;
}

#particles-js {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
}

.aqua{
  color: var(--aqua);
}

.w80{
  width: 80%;
}

.font-s3{
  font-size: 5em;
}

.bar {
  background-color: var(--aqua);
  color: black;
  
}

.prog{
  height: 2rem;
background-color: grey;
}

@media only screen and (min-width: 540px) {
  .name {
    font-size: 2em;
  }
  .title {
    font-size: 5em;
  }
  .transparent {
    background-color: transparent !important;
  }
}